
h1{
  position: relative;
  color: rgb(0, 74, 98);
  font-family: "Times ew roman", times, sans-serif;
  font-size: 60px;
  text-align: center;
  top: -50px;
 -webkit-text-stroke: 2px Darksalmon;
}


#intro {
  background-color: black;
  width: 1300px;
  min-height: 280px;
  padding: 80px;
  margin: auto;
  border: solid 15px white;
  text-align: center;
}

#intro ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

#intro ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

#intro ul li::after {
  content: '';
  height: 3px;
  width: 0%;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

#intro ul li:hover::after {
  width: 100%;
}
#title {
  position: relative;
  animation-name: shaketitle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes shaketitle {
  0%   {left:0px; top:0px;}
  25%  {left:20px; top:0px;}
  50%  {left:20px; top:20px;}
  75%  {left:0px; top:20px;}
  100% {left:0px; top:0px;}
}

body {
  background-color: red;
  position: relative;
  animation-name: colorchange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes colorchange {
    0%   {background-color:red}
    15%  {background-color:orange}
    30%  {background-color:lightblue}
    45%  {background-color:blue}
    60% {background-color:light green}
    75% {background-color:yellow}
    90% {background-color:pink}
    100% {background-color:red}
  }
