

#intro {
  background-color: black;
  width: 1300px;
  min-height: 500px;
  max-height: 500px;
  padding: 80px;
  margin: auto;
  border: solid 15px white;
  text-align: center;
}

#intro ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

#intro ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

#intro ul li::after {
  content: '';
  height: 3px;
  width: 0%;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}

#intro ul li:hover::after {
  width: 100%;
}
#title {
  position: relative;
  animation-name: pulse;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}


body {
  background-color: red;
  position: relative;
  animation-name: colorchange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#start{
  position: absolute;
  top: 480px;
  left: 43%;
}
#start:hover{
  animation-name: shaketitle;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
#mark1{
  position:absolute;
  top: -300px;
  left: 11%


}
#marker1{
  position:absolute;
  top: 0px;
  left: 10%

}
#mark2{
  position:absolute;
  top: -300px;
  left: 80%


}
#marker2{
  position:absolute;
  top: 0px;
  left: 79%
}
#marker3{
  position:absolute;
  top: 0px;
  left: 90%
}
#mark3{
  position:absolute;
  top: -300px;
  left: 71%


}
#marker4{
  position:absolute;
  top: 0px;
  left: 20%
}
#mark4{
  position:absolute;
  top: -300px;
  left: 21%


}
@keyframes shaketitle {
  0%   {left:43%; top:480px;}
  50%  {left:44%; top:480px;}

  100% {left:43%; top:480px;}
}

@keyframes colorchange {
    0%   {background-color:red}
    15%  {background-color:orange}
    30%  {background-color:lightblue}
    45%  {background-color:blue}
    60% {background-color:lightgreen}
    75% {background-color:yellow}
    90% {background-color:pink}
    100% {background-color:red}
  }

  @keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1.1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
